<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/french-flash-cards.css' | relative_url }}">
</head>
<body>
    <header>
        {% include header.html %}
    </header>

    <div class="container">
        <h1 class="pagetitle">{{ page.title }}</h1>
        {{ content }}
    </div>

    <footer>
        {% include footer.html %}
    </footer>

    <script src="{{ '/french-flash-cards.js' | relative_url }}" type="module"></script>
</body>
</html>
